
# Basic Python Packages
numpy
pandas
python-dateutil
requests

# API
pydantic
python-dotenv

# Web Scraping
beautifulsoup4
lxml
selenium
webdriver-manager
scrapy

# Datenbank
sqlalchemy
pymongo
psycopg2
pyarrow
argparse

# Spark
pyspark

# Machine Learning
scikit-learn
statsmodels
prophet

# Data Cleaning
dask

# Visualization
matplotlib
seaborn
plotly
folium

# jupyter
jupyterlab
notebook
ipykernel

# Debugging
tqdm               
pyyaml
loguru