version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: Luftqualitaet-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: 
      MONGO_INITDB_ROOT_PASSWORD: 
      MONGO_INITDB_DATABASE: LuftqualitaetDB
    volumes:
      - mongo_data:/data/db          
      - ./mongo-init:/docker-entrypoint-initdb.d
    networks:
      - smartcity-net

  mongo-express:
    image: mongo-express:1.0.2
    container_name: Luftqualitaet-mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: 
      ME_CONFIG_MONGODB_ADMINPASSWORD: 
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo
    networks:
      - smartcity-net

  spark-master:
    image: apache/spark:3.5.1
    container_name: Luftqualitaet-spark-master
    restart: unless-stopped
    environment:
      - SPARK_MODE=master
    ports:
      - "8080:8080"
      - "4040:4040"
      - "7077:7077"
    volumes:
      - ./spark-app:/opt/spark-app
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    networks:
      - smartcity-net

  spark-worker:
    image: apache/spark:3.5.1
    container_name: Luftqualitaet-spark-worker
    restart: unless-stopped
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    networks:
      - smartcity-net

networks:
  smartcity-net:

volumes:
  mongo_data:
